* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #121214;
    width: 100%;

}

#form-login {
    margin: 150px auto 0px auto;
    width: 350px;
}

#form-login input[name="username"] {
    margin-bottom: 10px;
}

#form-login input {

display: block;
width: 350px;
height: 50px;
border-radius: 3px;
border: 2px solid black;
padding: 0px 0px 0px 5px;
margin-bottom: 3px;

}

a.forgotPassword {
    font-size: 15px;
    align-self: flex-start;
    margin: 8px 0px 24px;
}

input[type="submit"] {

    color: white;
    background-color: rgb(64,151,195);
    height: 30px;
    margin-top: 20px; 

}

h1 {
    color: white;
    text-align: center;
    font-family: Arial;
    font-size: 50px;
    margin-bottom: 35px;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

a {
    margin-top: 3px;
    color: white;
    font-size: 15px;
    text-justify: unset;
    font-family: Arial;
    text-decoration: none;
}
strong {
    color: rgb(64,151,195);
}

a:hover strong {
    color: rgb(62, 180, 235);
    /* text-decoration: underline; */
}
